body{
	height: auto;
	width: auto;
}
.login_with_fb{
	background-color: #29487d;
	border-radius: 18%;
	height: 35px;
	width: 170px;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	font-size: 14px;
    font-family: arial;
}
ul{
	font-size: 14px;
	font-family: arial;
	padding: 15px;
}
p{
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	font-family: arial;
}
.content{
	height: 310;
	width: 200px;
}
.input_fields{
	padding: 10px;
}
.display_box{
    height: 116px;
    width: 198px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    margin-top: 10px;
}
.stories{
	height: 50px;
	width: 198px;
	border: 1px solid black;
	margin-top: 10px;
	overflow-y: scroll;
}
.signup_button{
	float: right;
	background-color: #29487d;
    border: none;
    border-radius: 3px;
    color: #fff;
    height: 30px;
    width: 65px;
    font-size: 14px;
    font-family: arial;
    cursor: pointer;
}
.login_button{
	float: left;
	background-color: #29487d;
    border: none;
    border-radius: 3px;
    color: #fff;
    height: 30px;
    width: 65px;
    font-size: 14px;
    font-family: arial;
    cursor: pointer;
}
.signup_form > input{
	margin-top: 15px;
	font-size: 14px;
    font-family: arial;
}
.login_form > input{
	margin-top: 15px;
	font-size: 14px;
    font-family: arial;
}
.signup{
	background-color: #29487d;
    border: none;
    color: #fff;
    border-radius: 2px;
    height: 25px;
    text-align: center;
    font-family: arial;
    cursor: pointer;
}
.login{
	background-color: #29487d;
    border: none;
    color: #fff;
    border-radius: 2px;
    height: 25px;
    text-align: center;
    font-family: arial;
    cursor: pointer;
}
.story_info{
    cursor: pointer;
    border: 1px solid #29487d;
    background-color: #29487d;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    float: left;
    margin-left: 3px;
    margin-top: 5px;
    padding: 3px;
}
.logout{
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
    float: right;
}
.footer{
    background-color: darkblue;
    color: #fff;
    text-align: center;
    font-family: arial;
    font-size: 10px;
}
.error{
    color: red;
}
.close{
    cursor: pointer;
    float: right;
    columns: #ccc;
}